<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="https://i.pinimg.com/736x/fa/bd/12/fabd12d4b9533e9bbe6ec5365097172b.jpg" alt="imagen do user"
          whidth="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16" nome do usuario>

        </p>


      <li class="nav-item pl-3">
        <i class="fa fa-pencil-square-o text-white fs-16" aria-hidden="true"></i>
    </ul>



  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light bg-danger">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://i.pinimg.com/736x/fa/bd/12/fabd12d4b9533e9bbe6ec5365097172b.jpg" alt="imagen do user"
            width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16" nome do usuario>

          </p>


        <li class="nav-item pl-3">
          <i class="fa fa-pencil-square-o text-white fs-16" aria-hidden="true"></i>
      </ul>

    </div>
  </div>
</nav>